@charset "utf-8";

* {margin:0;
	padding:0;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
    /*height:100%;*/
    min-height: 100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
	margin: 0 auto;
	padding: 0;
    width: 100%;
    /*height:100%;*/
    min-height: 100%;
    font-family: tahoma,arial,'Hiragino Sans GB',"\5b8b\4f53",sans-serif;
    font-size: 12px;
    position: relative;
    word-break:break-all;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);
    -webkit-box-sizing:border-box;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
}

img {
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

img:not([src*="/"]) {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*th, td, caption {
    vertical-align: middle;
}*/

textarea {
    resize: none;
}

input, button, select, textarea {
    -webkit-appearance:none;
    outline: none;
    border-radius: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
/*input:valid{visibility: visible;}*/
/*input::-webkit-input-placeholder {
    display: block;
    width:100%;
    height:100%;
    color:#00f;
    background:url(../imgs/w_7.png) no-repeat center  -120px;
    -webkit-backgrond-size:30px auto;
    text-transform:uppercase;
    text-align: center;
    letter-spacing:3px;
}*/

ul,ol,li {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
.section-body .text  {
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 35px;
    width: 84%;
    font-family: "宋体";
    font-size: 18px;
}
.section-body .textImg{
    margin-top: 45px;
    color: blue;
    text-align: center;
    vertical-align: middle;
	margin: 0 auto;
	padding: 0;
}
.left{
	float: left;
	background: red;
	width: 20%;
	height: 600px;
}
.center{
	float: left;
	background: rgb(240,240,240
	);
	width: 80%;
	height: 600px;
}

.header{
	min-height: 72px;
}
.footer{
	margin: 0 auto;
	width: 70%;
	height: 50px;
	background: green;
}
.logo{
	float: left;
	width: 20%;
	height: inherit;
	background: white;
}

.logo:first-child:first-letter{
	font-size: large;
}
.navigation{
	float: right;
	width: 80%;
	height: inherit;
	background: rgb(87,156,231);
}
.navigation > ul{
	top: 0;
	margin: 0;
	list-style: none;
	height: inherit;
	white-space: nowrap;
	width: 300px;
}
.navigation li{
	float: left;
	height: inherit;
	line-height: 100%;
	width: 100px;
	padding: 0;
	text-align: center;
	font-size: 18px;
	color: white;
	line-height: 72px;
}
.navigation li:hover{
	background: #80b8f5;
	cursor: pointer;
}
.navigation li a{

	color: white;

}
.ul-dropdown{
	list-style: none;
	display: none;
	z-index: 9999;
	width: 160px;
	height: 75px;
	position: absolute;
	float: left;
	background: white;
	border: 1px solid rgba(0,0,0,0.2);
}
.ul-dropdown li{
	text-align: left;
	float: left;
	line-height: 20px;
	width: 160px;
	height: 25px;
	color: black;
	font-size: 12px;
	line-height: 30px;
}
.ul-dropdown li span{
	margin-left: 5px;
}
.tools{
	height: 50px;
	border-bottom: 1px solid rgb(177,228,145);
    background: white;
	line-height: 50px;
	padding-left: 10px;
	position: relative;
}
.tools button{
	width: 100px;
	height: 30px;
	border: hidden;
	border-radius: 2px ;
	background: #f8ba01;
}
.tools button:active{
    border: 1px solid rgb(242,180,28);;
}
.screening{
    height: 50px;
    background: rgb(246,254,239);
    border-bottom: 1px solid rgb(177,228,145);
}
.img-container{
	white-space: nowrap;
	overflow: auto;
	height: 500px;
    padding: 10px 5px 0;
}
.item{
	float: left;
	margin: 0 0 20px 20px;
	width: 150px;
	height: 150px;
	background: white;
}
.item  img{
	width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.base-img{
	height: 120px;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
	width: inherit;
}
.img-name{
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.img-name:hover{
	background: rgb(218,218,218);
}

.controller{
	position: absolute;
	right: 0;
}
.btn-group{
	float: left;
}
.div-search{
	float: left;
	margin-left:10px;
}
.upload-icon{
	width: 15px;
	height: 15px;
	display: inline-block;
	line-height: 15px;
	vertical-align: text-top;
	margin-right:5px;
	background: url(//img.alicdn.com/tps/i3/T10moYFwlcXXbtZ_ga-204-618.png) no-repeat -22px -130px;
}
.div-search button{
	position: absolute;
	right: 5px;
	height:15px;
	width:15px;
	top: 18px;
	margin-right:10px;
	background: url(//img.alicdn.com/tps/i3/T10moYFwlcXXbtZ_ga-204-618.png) no-repeat -82px -130px;
}
.div-search input{
	padding: 4px 27px 4px 8px;
	margin-bottom: 2px;
	width: 200px;
	line-height: 19px;
	margin-right:10px;

	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;

}
